@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@import "tailwindcss";

@theme {
  --color-primary: #002051;
  --color-primary-50: #ebf3ff;
  --color-strokeFont: #a098ae;
  --color-mainProfile: #dedede;
  --color-mainProfile-600: #565e6d;
}

@layer base {
  .animate {
    @apply transition-all duration-300;
  }
}

body {
  font-family: "Inter", sans-serif;
}

button {
  cursor: pointer;
}
