@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@import "tailwindcss";

@theme {
  --color-primary: #002051;
  --color-primary-50: #ebf3ff;
  --color-strokeFont: #a098ae;
  --color-mainProfile: #dedede;
  --color-mainProfile-600: #565e6d;
  --color-stroke: #f3f4f6;
}

@layer base {
  .animate {
    @apply transition-all duration-300;
  }

  .page-header {
    @apply border-b border-b-gray-400 pb-4;
  }
}

body {
  font-family: "Inter", sans-serif;
}

button {
  cursor: pointer;
}

/* HTML: <div class="inverted-radius"></div> */
.inverted-radius {
  --r: 20px; /* the radius */
  --s: 10px; /* size of inner curve */
  --x: 120px; /* horizontal offset (no percentage) */
  --y: 20px; /* vertical offset (no percentage) */

  /* width: 250px; */
  /* aspect-ratio: 1; */
  border-radius: var(--r);
  --_m: /calc(2 * var(--r)) calc(2 * var(--r))
    radial-gradient(#000 70%, #0000 72%);
  --_g: conic-gradient(at var(--r) var(--r), #000 75%, #0000 0);
  --_d: (var(--s) + var(--r));
  mask:
    calc(var(--_d) + var(--x)) 0 var(--_m),
    0 calc(var(--_d) + var(--y)) var(--_m),
    radial-gradient(var(--s) at 0 0, #0000 99%, #000 calc(100% + 1px))
      calc(var(--r) + var(--x)) calc(var(--r) + var(--y)),
    var(--_g) calc(var(--_d) + var(--x)) 0,
    var(--_g) 0 calc(var(--_d) + var(--y));
  mask-repeat: no-repeat;
}

.container {
  width: 100%;
  padding-right: 16px;
  padding-left: 16px;
  @media (width >= 40rem /* 640px */) {
    max-width: 40rem /* 640px */;
  }
  @media (width >= 48rem /* 768px */) {
    max-width: 48rem /* 768px */;
  }
  @media (width >= 64rem /* 1024px */) {
    max-width: 64rem /* 1024px */;
  }
  @media (width >= 80rem /* 1280px */) {
    max-width: 80rem /* 1280px */;
  }
  @media (width >= 96rem /* 1536px */) {
    max-width: 96rem /* 1536px */;
  }
}


input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear {
  display: none;
}

input[type="password"]::-webkit-textfield-decoration-container {
  display: none;
}

